<% unless Gateway.current && Gateway.current.payment_profiles_supported? -%>
<% content_for :head do  -%>
  <%= javascript_tag do -%>
  jQuery(document).ready(function() {
    var form = $('#checkout_form_payment');
    var submit_button = $("#checkout_form_payment input[type='submit']")
    var form_action = form.attr('action'), form_method = form.attr('method'), submit_value = submit_button.val();

    form.append("<%= escape_javascript(hidden_field_tag(:user_id, payment_method.preferred_user_id)) %>");
    form.append("<%= escape_javascript(hidden_field_tag(:project_id, payment_method.preferred_project_id)) %>");
    form.append("<%= escape_javascript(hidden_field_tag(:amount, @order.total)) %>");
    form.append("<%= escape_javascript(hidden_field_tag(:reason_1, @order.number)) %>");
    form.append("<%= escape_javascript(hidden_field_tag(:user_variable_0, payment_method.id)) %>");
    form.append("<%= escape_javascript(hidden_field_tag(:user_variable_1, @order.id)) %>");
    

    $("input[name='order[payments_attributes][][payment_method_id]']").change(function(){
      if($("#order_payments_attributes__payment_method_id_<%= payment_method.id %>").attr("checked")) {
        form.attr('action', '<%= escape_javascript(payment_method.server_url) %>');
        form.attr('method', 'post');
        submit_button.val("<%= payment_method.preferred_button_text %>");
      } else {
        form.attr('action', form_action);
        form.attr('method', form_method);
        submit_button.val(submit_value);
      }
    });
  });
  <% end -%>
<% end -%>
<% end -%>

<div class="payment_network">
  <%= image_tag 'payment_small.png' %>
</div>
